body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #353535;
  color: white;
  font-family: 'Roboto Mono', monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input[type=text], input[type=password], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
  background-color: #353535;
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 80%;
}

input[type=submit], button{
  height: 50px;
  width: 150px;
  border-radius: 50px;
  font-family: 'Roboto Mono', monospace;
}

input[type=submit]:hover, button:hover{
  background-color: #FFCFDE;
}   

.loginSingupContainer{
  background-color: white;
  color: black;
  padding: 3%;
  border-radius: 7px;
  border: 4px solid black;
  margin: 20%;
  margin-top: 5%;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}